
@font-face {
    font-family: "FancyFont-Bold";
    src: url("../fonts/FuzzyBubbles-Bold.ttf");
    src: format('opentype') format('truetype');
}

@font-face {
    font-family: "FancyFont-Regular";
    src: url("../fonts/FuzzyBubbles-Regular.ttf");
    src: format('opentype') format('truetype');
}



.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}


.breadcrumb-item {
    /*font-family: 'FancyFont-Regular', Arial, sans-serif;*/
    color: white;
    font-weight: 500;
}

.breadcrumb-item.active {
    /*font-family: 'FancyFont-Bold', Arial, sans-serif;*/
    font-weight: 900;
}


body {
    /*
    background: rgb(0,54,46);
    background: linear-gradient(90deg, rgba(0,54,46,1) 0%, rgba(62,29,62,1) 55%, rgba(15,89,105,1) 100%);
        */
    background: rgb(6,6,6);
    background: linear-gradient(90deg, rgba(6,6,6,0.8575805322128851) 0%, rgba(92,45,0,0.7959558823529411) 49%, rgba(0,0,0,0.8015581232492998) 100%);
}


.background-soft {
    background-color: rgba(15,89,105,0.2);
}

.box-shadow {
    box-shadow: -1px 12px 11px 4px rgba(22,2,28,0.66);
    -webkit-box-shadow: -1px 12px 11px 4px rgba(22,2,28,0.66);
    -moz-box-shadow: -1px 12px 11px 4px rgba(22,2,28,0.66);
}

.emphasise-on-hover:hover {
    box-shadow: 0px 20px 12px 2px rgba(7,1,25,0.22);
    -webkit-box-shadow: 0px 20px 12px 2px rgba(7,1,25,0.22);
    -moz-box-shadow: 0px 20px 12px 2px rgba(7,1,25,0.22);
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


.form-control {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    transition:all .6s;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.bigger-on-focus {
    transition:all .6s;
}
.bigger-on-focus:focus {
    transform:scale(1.1, 1.1);
}

.brand-logo {
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
    background: #ECEFbc; /*#ECEFCF;*/
    border-radius: 70px;
}

.brand-logo:hover {
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 40px, red 0 -28px 60px, 5px 5px 15px 5px rgba(0,0,0,0);
    background: #ECEFCF;
}

.transition-slow {
    transition: all .6s;
}
.transition-normal {
    transition: all .3s;
}

.fancy-text {
    font-family: FancyFont-Bold;
}

.main-background {
    background-image: url('../img/food-background.jpg');
    background-position-x: center;
    background-color: rgba(1, 1, 1, 0.3);
    background-position-y: -60px;
}

.background-hypnotize {
    background: rgb(166,0,247);
    background: linear-gradient(180deg, rgba(166,0,247,0.05646008403361347) 1%, rgba(255,0,0,0.12648809523809523) 48%, rgba(146,0,185,0.05646008403361347) 100%);
}

.order-background {
    background-image: url('../img/background.jpg');
    background-position-x: center;
    background-color: rgba(1, 1, 1, 0.3);
    background-position-y: -60px;
}

.dollars {
    color: green;
    font-family: FancyFont-Bold;
    font-size: 60px;
    margin: auto;
}

.galery-item {
    box-shadow: -1px 10px 16px -1px rgba(0,0,0,0.78);
    -webkit-box-shadow: -1px 10px 16px -1px rgba(0,0,0,0.78);
    -moz-box-shadow: -1px 10px 16px -1px rgba(0,0,0,0.78);

    transition: .2s;

    width:300px;
    height:300px;
}

.galery-item:hover {
    box-shadow: -1px 13px 14px 6px rgba(0,0,0,0.85);
    -webkit-box-shadow: -1px 13px 14px 6px rgba(0,0,0,0.85);
    -moz-box-shadow: -1px 13px 14px 6px rgba(0,0,0,0.85);
}
